<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        body {
            background-color: lightblue;
            text-align: center;
            align-items: center;
        }

        h1 {
            color: darkblue;
        }

        table{
            margin-left: auto;
            margin-right: auto;

        }


        th,td {
            text-align: center;
            border-bottom: 1px solid;
        }


    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Bienvenue à Place-de-Boulogne! La plus belle salle de spectacles au Québec!</h1>
<hr>

<h2>Gestion Spectacles</h2>
<table>
    <tr>
        <td><h3>Afficher</h3></td>
    </tr>
    <tr>
        <td>Liste de <a href="/spectacles">tous les spectacles</a><br></td>
    </tr>
    <tr>
        <td ><h3>Rechercher</h3></td>
    </tr>
    <tr>
        <td>Rechercher un titre <a href="/rechercheParNom/Madama%20Butterfly">Madama Butterfly</a><br></td>
    </tr>
    <tr>
        <td>Rechercher une partie du titre <a href="/rechercheParNom/madama"> madama</a><br></td>
    </tr>
    <tr>
        <td>Rechercher par mot-cle <a href="/rechercheParNom/les">le</a></td>
    </tr>
    <tr>
        <td>Rechercher par date <a href="/rechercheParDate/2023-07-07">le 07 juillet 2023</a></td>
    </tr>
    <tr>
        <td>Rechercher une date érronée <a href="/rechercheParDate/2029-07-07">le 07 juillet 2029</a></td>
    </tr>
    <tr>
        <td>Rechercher par categorie <a href="/rechercheParCategorie/theatre">theatre</a></td>
    </tr>
    <tr>
        <td>Rechercher par une categorie qui n'existe pas <a href="/rechercheParCategorie/cirque">cirque</a></td>
    </tr>
    <tr>
        <td>Rechercher par un prix maximum <a href="/rechercheParPrixMaximum/75.50">75.50</a></td>
    </tr>
    <tr>
        <td>Si aucun spectacle ne coute autant <a href="/rechercheParPrixMaximum/3.25">3.25</a></td>
    </tr>
    <tr>
        <td><h3>Modifier</h3></td>
    </tr>
    <tr>
        <td>Changer le nombre de sièges disponibles à partir du titre d'un spectacle <a href="/modifierNombreDePlacesDisponibles/Madama%20Butterfly/50">Madama Butterfly, de 250 à 50 sièges</a></td>
    </tr>
    <tr>
        <td><h3>Supprimer</h3></td>
    </tr>
    <tr>
        <td>Supprimer un spectacle par ID <a href="/supprimerSpectacleParId/1">1</a></td>
    </tr>
    <tr>
        <td>Si l'ID n'existe pas <a href="/supprimerSpectacleParId/100">100</a></td>
    </tr>
    <tr>
        <td>Pour d'autres tests, <a href="/supprimerSpectacleParId/">rajoutez un numero suite a l'url</a></td>
    </tr>
</table>


<br>
<hr>
<br>
<h2>Gestion Clients</h2>
<table>
    <tr>
        <td><h3>Afficher</h3></td>
    </tr>
    <tr>
        <td>Liste de <a href="/client">tous les clients</a></td>
    </tr>
    <tr>
        <td ><h3>Rechercher</h3></td>
    </tr>
    <tr>
        <td>Un courriel qui existe <a href="/getClientByCourriel/bribri@gmail.com">bribri@gmail.com</a></td>
    </tr>
    <tr>
        <td>Un courriel qui n'existe pas <a href="/getClientByCourriel/corral.tess@gmail.com">corral.tess@gmail.com</a></td>
    </tr>
    <tr>
        <td>Pour d'autres tests, <a href="/getClientByCourriel/">rajoutez un courriel suite a l'url</a></td>
    </tr>
    <tr>
        <td><h3>Supprimer</h3></td>
    </tr>
    <tr>
        <td>Un courriel qui existe <a href="/deleteClientByCourriel/bribri@gmail.com">bribri@gmail.com</a></td>
    </tr>
    <tr>
        <td>Un courriel qui n'existe pas <a href="/deleteClientByCourriel/corral.tess@gmail.com">corral.tess@gmail.com</a></td>
    </tr>
    <tr>
        <td>Pour d'autres tests, <a href="/deleteClientByCourriel/">rajoutez un courriel suite a l'url</a></td>
    </tr>
</table>


</body>
</html>